[http]
    postBuffer = 524288000
    maxRequestBuffer = 100M
    lowSpeedLimit = 1000
    lowSpeedTime = 600
[core]
    compression = 0
    packedGitLimit = 512m
    packedGitWindowSize = 512m
[pack]
    deltaCacheSize = 2047m
    packSizeLimit = 2047m
    windowMemory = 2047m
[git]
    # Increase timeout for large uploads
    httpPushBytesPerSecond = 2048
